*{
    margin: auto;
    padding: auto;
}
body{
    font-family: Arial, sans-serif;
    background-color: rgb(200,200,150);
    display: flex;
    justify-content: center;
    align-items: center;
}
#cellContainer{
    background-color: brown;
    width: 280px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    padding: 10px;
    position: relative;
}
.cell{
    width: 50px;
    height: 50px;
    background-color: darkgray;
    margin: 10px;
    border-radius: 5%;
}
.cube{
    width: 50px;
    height: 50px;
    background-color: orange;
    margin: 10px;
    border-radius: 5%;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}